.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.3rem 0;
  background: rgb(88, 190, 243);
  background: linear-gradient(
    90deg,
    rgba(88, 190, 243, 1) 59%,
    rgba(0, 157, 161, 1) 75%
  );
  align-items: center;
}
